<% content_for :javascript_includes do %>
<script type="text/javascript">
	$(function(){
		var options = {
			rules : {
				"group[id]" : {
					required: <%=VALIDATION['group']['id']['required']%>
				},
				"group[name]" : {
					required: <%=VALIDATION['group']['name']['required']%>
				}
			}
		}
  		$("#groupForm").validate(options);
	});
</script>
<% end %>

<div class="row-fluid span11 nemaki_popup_header">
	<h4><%=t('view.group.edit.edit_group_info')%></h4>
</div>

<div class="nemaki_contents_body">
<div class="row-fluid">
<%= form_for :group ,:url => {:action => :update}, :html => {:method => :put, :id => 'groupForm', :class => 'form-horizontal'} do |f| %>
	<!--ID-->
	<div class="control-group">
		<label class="control-label" for="inputEmail"><%=t('model.group.id')%></label>
		<div class="controls">
			<%= f.text_field :id %>
		</div>
	</div>
	<!--Name-->
	<div class="control-group">
		<label class="control-label" for="inputEmail"><%=t('model.group.name')%></label>
		<div class="controls">
			<%= f.text_field :name %>
		</div>
	</div>
	
	<!--Action-->
	<div class="form-actions nemaki-form-actions">
		<%= submit_tag t('view.group.edit.update'), :class => 'btn btn-primary btn-large' %>
	</div>
<% end %>
</div>
</div>