<% content_for :javascript_includes  do %>
	<script type="text/javascript">
		var members = [];
		<% if !@group.users.nil? &&!@group.users.blank? %>
			<% @group.users.each do |u| %>
				members.push({"principalId":"<%=u%>"});
			<% end %>
		<% end %>
	</script>
	<%= javascript_include_tag "principal_search_form.js" %>
	<%= javascript_include_tag "group_member_table.js" %>
<% end %>

<!--HEADER-->
<div class="row-fluid span11 nemaki_popup_header">
	<h4><%= @group.name =%> <%=t('model.group.users')%></h4>
</div>

<div class="nemaki_contents_body">

<div class="row-fluid">
	<table height="240">
		<tr>
			<td valign = "top">
				<div>
					<table id="member_table"></table>
					<div id = "member_pager"></div>
				</div>
			</td>
			<td valign = "top" style="padding-left: 20px;">
				<div>
					<table id="search_table"></table>
					<div id = "search_paager"></div>

					<!--Add Button-->
					<div>
						<a href="#" class="popup btn btn-small " onclick="addSearchResult('member_table')"><i class='icon-plus'></i> <%=t('view.group.edit_member.add_member_list')%></a>
					</div>
					<!--User Search Form-->
					<%= form_for SearchForm.new, :url => {:controller => :users , :action => :search}, :html => {:id => 'principal_search', :method => :get}, :remote => true do |f| %>
						<%= submit_tag t('view.general.search'), :class => 'btn' %>
						<%= f.text_field :query, :class => 'search-query' %>
					<% end %>
								
				</div>
			</td>
		</tr>
	</table>
	
	<%= form_for @group, :url => {:action => 'update_member_users'}, :html => {:id => 'update_form', :method => :put} do %>
		<%= hidden_field_tag "principals_json" %>
		<!--Remove Button-->
		<a href="#" class="btn btn-small" onclick="delrow('member_table')"><i class='icon-minus'></i> <%=t('view.general.delete')%></a>
		<!--Update Button-->
		<a href="#" class="btn btn-small btn-primary" onclick="update()"><i class='icon-repeat'></i> <%=t('view.general.update')%></a>
	<% end %>
</div>

</div>
