<%=simple_header "<h4>" + t('view.group.index.group_management') + "</h4>"%>
<%= render :partial => "layouts/flash_display"%>

<!--Body of contents-->
<div class="row-fluid">
	<!--User Search Form-->
	<%= form_for @search_form, :url => {:controller => :groups , :action => :index}, :html => {:id => 'group_search', :method => :get} do |f| %>
		<%= f.text_field :query, :class => 'search-query' %>
		<%= submit_tag t('view.group.index.search_groups'), :class => "btn" %>
	<% end %>
</div>

<!--Body of the list-->
<div class="row-fluid">
<%= render :partial => 'groups/list' %>
</div>