<% content_for :javascript_includes do %>
<script type="text/javascript">
	$(function(){
		var options = {
			rules : {
				"group[id]" : {
					required: <%=VALIDATION['group']['id']['required']%>
				},
				"group[name]" : {
					required: <%=VALIDATION['group']['name']['required']%>
				}
			}
		}
  		$("#groupForm").validate(options);
	});
</script>
<% end %>

<!--HEADER-->
<div class="row-fluid span11 nemaki_popup_header">
	<h4>グループ情報</h4>
</div>

<!--Contents body-->
<div class="nemaki_contents_body">
	<div class="row-fluid">
		<%= form_for :groups , :url => {:action => :create}, :html => {:method => :post, :id => 'userForm', :class => 'form-horizontal'} do |f| %>
			<!--ID-->
			<div class="control-group">
				<label class="control-label" for="inputEmail">グループID</label>
				<div class="controls">
					<%= f.text_field :id %>
				</div>
			</div>
			<!--Display Name-->
			<div class="control-group">
				<label class="control-label" for="inputEmail">表示名</label>
				<div class="controls">
					<%= f.text_field :name %>
				</div>
			</div>
			
			<!--Action-->
			<div class="form-actions nemaki-form-actions">
				<%= submit_tag "新規作成", :class => 'btn btn-primary btn-large' %>
			</div>
		<% end %>
	</div>
</div>