<% content_for :javascript_includes do %>
	<script type="text/javascript">
			$(function(){
				var options = {
					rules : {
						"user[password]" : {
							required: <%=VALIDATION['user']['password']['required']%>,
							minlength: <%=VALIDATION['user']['password']['length']['min']%>
						}
					}
				}
  				$("#userForm").validate(options);
			});
		</script>
<% end %>

<div class="row-fluid span11 nemaki_popup_header">
	<h4><%=t('view.user.edit_password.edit_password')%></h4>
</div>

<div class="nemaki_contents_body">
<div class="row-fluid">
	<%= form_for :user , :url => {:action => :update_password}, :html => {:method => :put, :id => 'userForm', :class => 'form-horizontal'} do |f| %>
		
		<!--ID-->
		<div class="control-group">
			<label class="control-label" for="inputEmail"><%=t('view.user.user_id')%></label>
			<div class="controls">
				<%= f.text_field :id, :disabled => true %>
			</div>
		</div>

		<!--Password-->
		<div class="control-group">
			<label class="control-label" for="inputEmail"><%=t('view.user.new_password')%></label>
			<div class="controls">
				<%= f.password_field :password %>
			</div>

		<!--Action-->
			<div class="form-actions nemaki-form-actions">
				<%= submit_tag t('view.general.update'), :class => 'btn btn-primary btn-large' %>
			</div>
	<% end %>
</div>

</div>
