<% content_for :javascript_includes do %>
<script type="text/javascript">
	$(function(){
		var options = {
			rules : {
				"user[id]" : {
					required: <%=VALIDATION['user']['id']['required']%>
				},
				"user[name]" : {
					required: <%=VALIDATION['user']['name']['required']%>
				},
				"user[first_name]" : {
					required: <%=VALIDATION['user']['first_name']['required']%>
				},
				"user[password]" : {
					required: <%=VALIDATION['user']['password']['required']%>,
					minlength: <%=VALIDATION['user']['password']['length']['min']%>
				}
			}
		}
  		$("#userForm").validate(options);
	});
</script>
<% end %>

<!--HEADER-->
<div class="row-fluid span11 nemaki_popup_header">
	<h4><%=t('view.user.new.create_new_user')%></h4>
</div>

<!--Contents body-->
<div class="nemaki_contents_body">
	<div class="row-fluid">
		<%= form_for :user , :url => {:action => :create}, :html => {:method => :post, :id => 'userForm', :class => 'form-horizontal'} do |f| %>
			<!--ID-->
			<div class="control-group">
				<label class="control-label" for="inputEmail"><%=t('model.user.id')%></label>
				<div class="controls">
					<%= f.text_field :id %>
				</div>
			</div>
			<!--Display Name-->
			<div class="control-group">
				<label class="control-label" for="inputEmail"><%=t('model.user.name')%></label>
				<div class="controls">
					<%= f.text_field :name %>
				</div>
			</div>
			<!--First Name-->
			<div class="control-group">
				<label class="control-label" for="inputEmail"><%=t('model.user.first_name')%></label>
				<div class="controls">
					<%= f.text_field :first_name %>
				</div>
			</div>
			<!--Last Name-->
			<div class="control-group">
				<label class="control-label" for="inputEmail"><%=t('model.user.last_name')%></label>
				<div class="controls">
					<%= f.text_field :last_name %>
				</div>
			</div>
			<!--Email-->
			<div class="control-group">
				<label class="control-label" for="inputEmail"><%=t('model.user.email')%></label>
				<div class="controls">
					<%= f.email_field :email %>
				</div>
			</div>
			<!--Password -->
			<div class="control-group">
				<label class="control-label" for="inputPassword"><%=t('model.user.password')%></label>
				<div class="controls">
					<%= f.password_field :password %>
				</div>
			</div>
			<!--Action-->
			<div class="form-actions nemaki-form-actions">
				<%= submit_tag t('view.general.create'), :class => 'btn btn-primary btn-large' %>
			</div>
		<% end %>
	</div>
</div>