<!--Header-->
<div class="row-fluid nemaki_popup_header" style="padding-left: 25px;">
	<h4>
		<%=t('view.site.site_list') %>
	</h4>
</div>

<%= render :partial => "layouts/flash_display"%>

<div class="nemaki_contents_body">
	<%= form_for Site.new, :url => {:action => :create}, :html => {:class => 'form-inline'} do |f| %>
	<table>
		<tr valign="top">
			<td>
				<%= submit_tag "＋" + t('view.site.create_new_site'), :class => 'btn btn-primary'%>
			</td>
			<td style="padding-left: 20px;">
				<%= f.text_field :name, :placeholder => t('view.site.input_site_name')%>		
			</td>
		</tr>
	</table>
	<% end %>
	
	<div class="nemaki_site_list">
		<table class="table" style="background-color:white">
			<thead>
			<tr class="nemaki_table_header">
				<th class="nemaki-sitelist-name"><%=t('view.site.site_name')%></th>
				<th><%=t('view.node_list.actions')%></th>
			</tr>
			</thead>

			<% @sites.each do |n| %>
			<tr>
				<td>	
					<%= link_to n.name, explore_node_path(n.id), :target => '_parent' %>
				</td>
				<td>
					<!--SHOW-->
					<%= link_to raw("<i class='icon-zoom-in'></i>"), node_path(n.id, @popup_param), 
					:class => 'btn', :title => t('view.node.explore.show') %>
					
					<!--EDIT-->
					<% if n.allowable_actions['UpdateProperties'] || 
						  n.allowable_actions['SetContentStream'] %>
					<%= link_to raw("<i class='icon-edit'></i>"), edit_node_path(n.id, @popup_param), 
					:class => 'btn', :title => t('view.node.explore.edit') %>
					<% end %>
					
					<!--PERMISSION-->
					<% if n.allowable_actions['ApplyACL'] %>
					<%= link_to raw("<i class='icon-user'></i>"),
					edit_permission_node_path(n.id, @popup_param),
					:class => 'btn', :title => t('view.node.explore.permission') %>
					<% end %>
					
					<!--DELETE-->
					<% if n.allowable_actions['DeleteObject'] %>
					<%= link_to raw("<i class='icon-trash'></i>"),
					node_path(n.id),
					:title => t('view.node.explore.delete'),
					:class => 'btn', :method => :delete, :confirm => t('view.node.explore.delete_confirmation')%>
					<% end %>
				</td>
			</tr>
			<% end %>
		</table>
		
	</div>
</div>

