<% if @archives %>
<div id='archive_list'>
	<table class="table table-striped table-hover">
		<thead>
			<tr>
				<th>
					<%=t('view.archive.name')%>
				</th>
				<th>
					<%=t('view.archive.delete_time')%>
				</th>
				<th>
					<%=t('view.archive.delete_user')%>
				</th>
				<th class="nemaki-explore-list-action">
					<%=t('view.node_list.actions')%>
				</th>
			</tr>
		</thead>
		<tbody>
			<% @archives.each do |a| %>
			<% if !a.is_deleted_with_parent %>
			<tr>
				<!--Name-->
				<td>
					<%= image_tag(icon_path(a)) %>
					<%=a.name%>
				</td>
				<!--Deleted time-->
				<td>
					<%=a.created%>
				</td>
				<!--User who deleted the archive-->
				<td>
					<%=a.creator%>
				</td>
				<!--Action-->
				<td>
					<%=link_to t('view.archive.restore'), restore_archive_path(a.id),:class => 'btn btn-primary', :method => :put%>
				</td>
			</tr>
			<% end %>
			<% end %>
		</tbody>
	</table>
</div>
<% end %>