<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Nemakishare" %></title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag "application" %>
	<%= javascript_include_tag "application" %>
    <%= javascript_include_tag "flash_fade.js" %>
    <script type="text/javascript">
		<%= yield :javascript_includes %>
    </script>
  </head>

  <body>
    <div class="navbar navbar-fixed-top" style="padding-bottom: 10px">
      <div class="navbar-inner">
        <div class="container-fluid">
    		<ul class="nav">
    			<li>
    				<%= link_to "NemakiWare", "/nodes/explore", :class => 'brand' %>
				</li>
				
				<% if @login_user != nil %>
    			<li>
    				<%= form_for SearchForm.new, :url => {:controller => :nodes, :action => :search}, :html => {:method => :get, :class => 'navbar-search pull-left'} do |f| %>
						<%= f.text_field :query, :class => 'search-query' %>
						<button type="submit" class="btn btn-link">
  							<i class="icon-search"></i>
						</button>
	　				<% end %>
    			</li>
				<li class='dropdown'>
  					<div data-toggle="dropdown" class="btn dropdown-toggle">
  						ユーザ：<%= @login_user.id %>
    					<span class="caret"></span>
  					</div>
  					<ul class="dropdown-menu">
  						<!--Admin Feature-->
  						<% if @login_user.id == 'admin'%>
  						<!--User/Group management-->
						<li><%= link_to "ユーザ管理", users_path %></li>
						<li><%= link_to "グループ管理", groups_path %></li>
  						<!--Archive-->
  						<li class="divider"></li>
  						<li><%= link_to "ゴミ箱", archives_path %></li>
  						<!--Solr config-->
  						<li class="divider"></li>
  						<li><%=link_to "検索エンジン管理", search_engine_index_path %></li>
  						<% end %>
  						<!--Log Out-->
  						<li class="divider"></li>
  						<li><%= link_to "ログアウト", logout_nodes_path, :confirm => 'ログアウトしますか？' %></li>
  					</ul>
				</li> 
				<% end %>
    		</ul>
    			
        	</div>
      	</div>
    </div>　
    
 	<div class="container-fluid" style="margin-top: 0px; padding-top: 0px">
    	<%= yield %>
    	<p></p>
		<footer>
			<div class="pull-right">
				<%= image_tag('icon/NemakiWare_logo.jpg') %>
				<%= image_tag('icon/aegif.gif') %>
				<div align="right">&copy; Aegif Corporation 2013</div>
			</div>
		</footer>
    </div> 
  </body>
</html>
