<!DOCTYPE html>
<html>
	<head>
		<%= csrf_meta_tags %>
		<%= stylesheet_link_tag "application" %>
		<%= javascript_include_tag "application" %>
		<script type="text/javascript">
  			I18n.defaultLocale = "<%= I18n.default_locale %>";
  			I18n.locale = "<%= I18n.locale %>";
		</script>
		<%= javascript_include_tag "flash_fade.js" %>
		<!--Common messages for jQuery validator-->
		<script type="text/javascript">
			jQuery.extend(jQuery.validator.messages, {
				required: "この項目は必須入力です",
				email: "有効なメールアドレスを入力してください",
				minlength: jQuery.validator.format("{0}文字以上入力してください"),
			});
		</script>
		<%= yield :javascript_includes %>
	</head>

	<body class='popup' style="margin-top: 0;">
		<%= yield %>
			
	</body>
</html>
