<% if @nodes %>
<div id='node_list'>
	<table class="table table-striped table-hover">
		<thead>
			<tr>
				<th class="nemaki-explore-list-name">
					コンテンツ
					<!--Folder Action -->
					<% if !@node.nil? %>
						<!--Thickbox iframe ignores parameters after TB_iframe-->
						<%= link_to raw("<i class='icon-plus'></i> 新規ファイル"),
						new_node_path() + 
						"?parent_id=" + @node.id + "&type=document&TB_iframe=nil&height=600&&width=777",
						:class => 'thickbox btn btn-small btn-primary'%>
						
						<%= link_to raw("<i class='icon-plus'></i> 新規フォルダ"),
						new_node_path() +
						"?parent_id=" + @node.id + "&type=folder&TB_iframe=nil&height=600&&width=777",
						:class => 'thickbox btn btn-small btn-primary'%>
					<% end %>
				</th>
				<% if params[:controller] == 'nodes' && params[:action] == 'search' %>
					<th class="nemaki-explore-list-site">サイト</th>
				<% end %>
				<th class="nemaki-explore-list-calendar">更新時刻</th>
				<th class="nemaki-explore-list-user">更新者</th>
				<th class="nemaki-explore-list-action">アクション</th>
			</tr>
		</thead>
		<tbody>
			<% @nodes.each_with_index do|n,idx| %>
			<tr>
				<!--Content-->
				<td>
					<% if n.is_document? %>
						<%= image_tag(icon_path(n)) %>
						<%= link_to n.name, download_node_path(n.id) %>
					<% else %>
						<%= image_tag(icon_path(n)) %>
						<%= link_to n.name, explore_node_path(n.id) %>
					<% end %>
				</td>
				<!--Site-->
				<% if params[:controller] == 'nodes' && params[:action] == 'search' %>
					<td>
					<% if @sites[n.id].nil? %>
						N/A
					<% else %>
						<%= link_to @sites[n.id].name, explore_node_path(@sites[n.id].id) %>
					<% end %>
					</td>
				<% end %>
				<!--Calendar-->
				<td>
					<%= simple_time_YMD(n.modified) %><br/>
					<%= simple_time_HMS(n.modified) %>
				</td>
				<!--Modifier-->
				<td>
					<%= n.modifier %>
				</td>
				<!--Action-->
				<td>
					<!--SHOW-->
					<%= link_to raw("<i class='icon-zoom-in'></i>"), node_path(n.id, @popup_param), 
					:class => 'thickbox btn', :title => '詳細情報', :target => '_parent' %>
					
					<!--EDIT-->
					<% if n.allowable_actions['UpdateProperties'] || 
						  n.allowable_actions['SetContentStream'] %>
					<%= link_to raw("<i class='icon-edit'></i>"), edit_node_path(n.id, @popup_param), 
					:class => 'thickbox btn', :title => '編集更新', :target => '_parent' %>
					<% end %>
					
					<!--PERMISSION-->
					<% if n.allowable_actions['ApplyACL'] %>
					<%= link_to raw("<i class='icon-user'></i>"),
					edit_permission_node_path(n.id, @popup_param),
					:class => 'thickbox btn', :title => '権限管理' %>
					<% end %>
					
					<!--DELETE-->
					<% if n.allowable_actions['DeleteObject'] %>
					<%= link_to raw("<i class='icon-trash'></i>"),
					node_path(n.id),
					:title => '削除',
					:class => 'btn', :method => :delete, :confirm => '本当に削除しますか？'%>
					<% end %>
				</td>
			</tr>
			<% end %>
		</tbody>
	</table>
</div>
<% end %>