<div class="navbar navbar-fluid-top" style="padding-top: 0">
      <div class="navbar-inner" style="padding-left: 0">
			<div class="span8" style="padding-left: 0">
				<h4>
					<%= link_to raw("<i class='icon-list'></i> " + t('view.navigation.site')),
					sites_path(@popup_param),
					:class => 'thickbox', :title => t('view.navigation.site_list') %>
					<%= @site_name %>
				</h4>
			</div>
			<div class="pull-right" style="margin-left:25px;">
				<h5>	
					<% @breadcrumbs.each_with_index do |crumb, idx|%>
						<%= link_to crumb[:name], explore_node_path(crumb[:id]) %>
						<% if idx + 1 != @breadcrumbs.size %>
							<span class="divider">></span>
						<% end %>	
					<% end %>
				</h5>
			</div>
	  </div>
</div>

<!--Flash message fadeOut display -->
<%= render :partial => "layouts/flash_display"%>

<div class="row-fluid">
	<div class="span3">
		<div class="navbar navbar-fluid-top">
			<div class="navbar-inner">
				<h4><%=t('view.changelog.changes_in_the_site') %></h4>
			</div>
			<p></p>
		</div>
		
		<div class="well sidebar-nav">
			<%= render :partial => 'nodes/site_changes' %>
		</div>
	</div>
	
	<div class="span9">
		<!--Folder menu-->
		<div class="navbar navbar-fluid-top">
			<div class="navbar-inner">
				<div class="span7">
					<h4><%=t('view.navigation.folder')%>: <%= @node.name %></h4>
				</div>

				<!-- Paging navigation-->
				<div class="pull-right">
					<h5>
						<% if @hasBeforePage %>
							<%= link_to "before", explore_node_path(@node.id, {"maxItems" => CONFIG['paging']['maxItems'], "skipCount" => @skipCount.to_i - CONFIG['paging']['maxItems']}) %>
						<% end %>
						<% if @is_allowed_up && !@parent.nil? %>
							<% @parent_url = (@parent.id == '/') ? explore_nodes_path : explore_node_path(@parent.id) %>
							<%= link_to "up", @parent_url %>
						<% end %>
						<% if @hasNextPage %>
							<%= link_to "next", explore_node_path(@node.id, {"maxItems" => CONFIG['paging']['maxItems'], "skipCount" => @skipCount.to_i + CONFIG['paging']['maxItems']}) %>
						<% end %>
						
					</h5>
				</div>
			</div>
		</div>
		
		<p></p>
		
		<!--Body of the list-->
		<%= render :partial => 'nodes/list' %>
	</div>
</div>
