<%= form_for User.new, :url => {:action => :authenticate} do |f| %>
	<div>
		<%= f.label :id %>
		<%= f.text_field :id %>
	</div>
	<div>
		<%= f.label :password %>
		<%= f.password_field :password %>
	</div>
	<%= submit_tag 'ログイン' %>
<% end %>
