<div style="padding-top: 50px;">

<%= form_for User.new, :url => {:action => :authenticate}, :html => {:class => 'form-horizontal'} do |f| %>
	<div class="control-group">
		<label class="control-label" for="inputEmail"><%=t('model.user.id')%></label>
		<div class="controls">
			<%= f.text_field :id %>
		</div>
	</div>
	<div class="control-group">
		<label class="control-label" for="inputEmail"><%=t('model.user.password')%></label>
		<div class="controls">
			<%= f.password_field :password %>
		</div>
	</div>
	<div class="form-actions nemaki-form-actions">
		<%= submit_tag t('view.navigation.login'), :class => "btn btn-primary" %>
	</div>
<% end %>

</div>
