<% content_for :javascript_includes do %>
<!--Validation-->
<script type="text/javascript">
	$(function(){
		var options = {
			rules : {
				"node[name]" : {
					required: true
				},
				"node[file]" : {
					required: true
				}
			}
		}
  		$("#create_form").validate(options);
	});
</script>
<!--Ajax file name-->
<script type="text/javascript">
  	$(document).ready(function(){
		dom_file = $('#node_file');
		dom_name = $('#node_name');
		dom_file.change(function(){
			var val = dom_file.val();
			var path = val.replace(/\\/g, '/');
                    	var match = path.lastIndexOf('/');
                    	dom_name.val(match !== -1 ? val.substring(match + 1) : val);
		})
	});
</script>
<% end %>

<!--Header-->
<div class="row-fluid span11 nemaki_popup_header">
	<% if @document %>
		<h4><%= image_tag('icon/generic-file-32.png') %><%=t('view.node.new.upload_new_file')%></h4>
	<%elsif @folder %>
		<h4><%= image_tag('icon/folder-icon-default.gif') %><%=t('view.node.new.create_new_folder')%></h4>
	<% end %>
</div>

<!--Contents body-->
<div class="nemaki_contents_body">
	<div class="row-fluid">
		<%= form_for @node, :url => {:action => :create}, :html => {:id => 'create_form'} do |f| %>
			<label><h5><%=t('model.node.name')%></h5></label>	
            <%= f.text_field :name %>
      		
      		<% if @document %>      
            <label><h5><%=t('view.node.new.select_file', :title => "yaho")%></h5></label>
            <%= f.file_field :file %>
			<% end %>
			
			<%= hidden_field_tag :parent_id, @parent_id %>
			<%= hidden_field_tag :type, @type %>
			<div style="padding-top: 20px;">
				<%= submit_tag t('view.general.create'), :class => 'btn btn-primary btn-large' %>	
			</div>
		<% end %>
	</div>
</div>