<h1><%= @node.name%></h1>

<br/>

<table height="160">
	<!-- Inherited ACL jqGrid -->
	<tr><td valign="top">
		<table id="inherited_acl_table"></table>
		<div id = "inherited_acl_paager"></div>
	</td>
	<!-- Inheritance switching button-->
	<td valign="top">
		<div>
			<h5>権限の継承</h5>
			<label class="checkbox inline"><input type="radio"name="inheritance" checked="checked" />　ON</label>　
			<label class="checkbox inline"><input type="radio"name="inheritance" checked="checked" />　OFF</label>
			</div>
	</td></tr>
</table>


<table height="240">
	<!--Local ACL jqGrid-->
	<tr>
		<td></td>
		<td valign="bottom">
			<!--User Search Form-->
			<%= form_for SearchForm.new, :url => {:controller => :users , :action => :search}, :html => {:id => 'user_search', :method => :get}, :remote => true do |f| %>
				<%= f.text_field :query, :class => 'search-query' %>
				<%= submit_tag "ユーザ検索"%>
			<% end %>
		</td>
	</tr>
	
	<tr><td valign="top">
		<table id="local_acl_table"></table>
		<div id = "local_acl_paager"></div>
		
		<%= form_tag({:action => 'update_permission'}, {:id => 'permission_form'}) do %>
			<%= hidden_field_tag 'acl_json', '' %>
			<!--TODO Hard-coded? -->
			<%= hidden_field_tag 'inheritance', 'true' %>
		<% end %>
		<button type="button" onclick="update()">Update!</button>
	</td>
	<td valign="top">
		<!--User jqGrid-->
		<table height="60">
			<tr><td valign="top">
				<table id="user_table"></table>
				<div id = "user_paager"></div>
			</td></tr>
		</table>
		<div>
			<button type="button" onclick="addPrincipalToAcl()">追加</button>
			<button type="button" onclick="delrow()">削除</button>
		</div>

	</td></tr>
</table>

<!--JavaScript-->
<script type="text/javascript">
    //////////////////////////////////////////////////////////////////
    //HTMLから呼び出す関数群
    //////////////////////////////////////////////////////////////////
    
	//////////////////////
	//ユーザをACL jqGridに追加
	//////////////////////
	function addPrincipalToAcl(){
		//ユーザjqGrid上で選択済みのユーザを取得
		selectedIds = $("#user_table").getGridParam('selarrrow');
		for(i=0; i < selectedIds.length; i++){
			row = $("#user_table").getRowData(selectedIds[i]);
			addrow(row.principal);			
		}
	}
	function addrow(principal){
		var arrows = $("#local_acl_table").getRowData();
		var max = arrows.length;
		var principalValue = "";
		
		if(principal){
			principalValue = principal;
		}else{
			principalValue = "選択してください";
		}
		
		var tmpData = { 
			no: max,
		 	principal: principalValue,
		 	permissions: "cmis:read"
	 	 };
	 	 
	 	 $("#local_acl_table").addRowData(undefined, tmpData);
	}
	
	//////////////////////
	//ACL jqGridからレコード削除
	//////////////////////
	function delrow(){
		var arrrows = $("#local_acl_table").getGridParam("selarrrow");
		if (arrrows.length == 0) {
			alert("削除するレコードを選択してください");
		}else{
			var len = arrrows.length;
			for(i = len-1; i >= 0; i--) {
				 $("#local_acl_table").delRowData(arrrows[i]);
			}
		}
	}
	
	//////////////////////
	//ACLの更新
	//////////////////////
	function update(){
        var ret = confirm("権限情報を保存します。よろしいですか？");

        if (!ret) {
            return false;
        }

        // グリッド内のデータをhiddenタグにJSONで格納
       	values = $("#local_acl_table").jqGrid('getRowData');
	    json = JSON.stringify(values);
	   	acl_json = JSON.stringify(values);
	   	//TODO 値の選択途中でupdateが実行された場合の処理
	   	$("#acl_json").val(acl_json);
       	$('#permission_form').submit();
	}


	//////////////////////////////////////////////////////////////////
	//jQueryプラグイン定義
	//////////////////////////////////////////////////////////////////
	$(function() {
		//////////////////////
		//ACL継承の切り替え
		//////////////////////
		$("[name='inheritance']").click(function(){
	        var num = $("[name='inheritance']").index(this);
	        if(num == 0){
	            $("#inheritance").val("true");
	        } else {
	            $("#inheritance").val("false");
	        }
	    });
	
	
	
		//////////////////////
		//ユーザ検索フォーム
		//////////////////////
		$('#user_search')
			//.bind('ajax:complete', function() {alert("complete!");})
			.bind('ajax:success', function(xhr, data, status) {
				//jqGridを一旦消去
				$("#user_table").GridUnload();
				//更新データの作成
				users = [];
				for(i=0; i < data.length; i++){
					users.push({no:i, principal:data[i].userName});
				}
				//jqGridの再描画
				createUserTable();
				}
			 )
		//////////////////////
		//ユーザ検索結果表示jqGrid
		//////////////////////
		//列の設定
		var userColModelSettings= [	
			{name:"no",index:"no",width:70,align:"center",classes:"no_class"},
			{name:"principal",index:"principal",width:200,align:"center",classes:"principal_class"},
		]
		//列の表示名
		var userColNames = ["No.","principal"];
		//初期データ
		var users = [];
		//テーブルの作成
		createUserTable();
		function createUserTable(){
			$("#user_table").jqGrid({
				data:users,  //表示したいデータ
				datatype : "local",            //データの種別 他にjsonやxmlも選べます。
				colNames : userColNames,           //列の表示名
				colModel : userColModelSettings,   //列ごとの設定
				rowNum : 4,                   //一ページに表示する行数
				rowList : [1, 10, 20],         //変更可能な1ページ当たりの行数
				caption : "ユーザ検索結果",    //ヘッダーのキャプション
				height : "40",                  //高さ
				width : 250,                   //幅
				cellEdit: true, // true: クリックしたセルの編集
				cellsubmit: 'clientArray',	//入力したデータをグリッド内に保持
				pager : 'user_pager',              //footerのページャー要素のid
				shrinkToFit : true,　　        //画面サイズに依存せず固定の大きさを表示する設定
				viewrecords: true,              //footerの右下に表示する。
				scroll:true,
				sortname: 'no',
				sortorder: "ASC",
				multiselect: true
			});
		};
	
		//////////////////////
		//ACL jqGrid
		//////////////////////
		//列の設定
		var inherited_colModelSettings= [	
			{name:"no",index:"no",width:70,align:"center",classes:"no_class"},
			{name:"principal",index:"principal",width:200,align:"center",classes:"principal_class"},
			{name:"permissions",index:"permissions",width:200,align:"center",classes:"permissions_class",
				editoptions:{maxlength:10}, editable:false,
		 		edittype:'select', 
		 		editoptions:{value:{1:"cmis:read", 2:"cmis:write", 3:"cmis:all"}}
			
			}
		]
		
		var local_colModelSettings= [	
			{name:"no",index:"no",width:70,align:"center",classes:"no_class"},
			{name:"principal",index:"principal",width:200,align:"center",classes:"principal_class"},
			{name:"permissions",index:"permissions",width:200,align:"center",classes:"permissions_class", 
		 		editoptions:{maxlength:10}, editable:true,
		 		edittype:'select', 
		 		editoptions:{value:{1:"cmis:read", 2:"cmis:write", 3:"cmis:all"}}
			}
		]

		//列の表示名
		var colNames = ["No.","principal","permissions"];
		//データ
		var inherited_acl = [
			<% @node.acl.each_with_index do |ace,idx| %>
				<% if !ace.direct? %>
					{no:<%= idx %>, principal:"<%= ace.principal%>",permissions:"<%= ace.permissions.first %>"},
				<% end %>
			<% end%>
		];
		
		var local_acl = [
			<% @node.acl.each_with_index do |ace,idx| %>
				<% if ace.direct? %>
					{no:<%= idx %>, principal:"<%= ace.principal%>",permissions:"<%= ace.permissions.first %>"},
				<% end %>
			<% end%>
		];
		
		//テーブル作成: Inherited ACL jqGrid
		$("#inherited_acl_table").jqGrid({
			data:inherited_acl,  //表示したいデータ
			datatype : "local",            //データの種別 他にjsonやxmlも選べます。
			colNames : colNames,           //列の表示名
			colModel : inherited_colModelSettings,   //列ごとの設定
			rowNum : 4,                   //一ページに表示する行数
			rowList : [1, 10, 20],         //変更可能な1ページ当たりの行数
			caption : "継承した権限",    //ヘッダーのキャプション
			height : "80",                  //高さ
			width : 400,                   //幅
			cellEdit: true, // true: クリックしたセルの編集
			cellsubmit: 'clientArray',	//入力したデータをグリッド内に保持
			pager : 'inherited_acl_pager',              //footerのページャー要素のid
			shrinkToFit : true,　　        //画面サイズに依存せず固定の大きさを表示する設定
			viewrecords: true,              //footerの右下に表示する。
			scroll:true,
			sortname: 'no',
			sortorder: "ASC",
			multiselect: true
		});
		
		//テーブル作成: Local ACL jqGrid
		$("#local_acl_table").jqGrid({
			data:local_acl,  //表示したいデータ
			datatype : "local",            //データの種別 他にjsonやxmlも選べます。
			colNames : colNames,           //列の表示名
			colModel : local_colModelSettings,   //列ごとの設定
			rowNum : 4,                   //一ページに表示する行数
			rowList : [1, 10, 20],         //変更可能な1ページ当たりの行数
			caption : "ローカルで設定された権限",    //ヘッダーのキャプション
			height : "80",                  //高さ
			width : 400,                   //幅
			cellEdit: true, // true: クリックしたセルの編集
			cellsubmit: 'clientArray',	//入力したデータをグリッド内に保持
			pager : 'local_acl_pager',              //footerのページャー要素のid
			shrinkToFit : true,　　        //画面サイズに依存せず固定の大きさを表示する設定
			viewrecords: true,              //footerの右下に表示する。
			scroll:true,
			sortname: 'no',
			sortorder: "ASC",
			multiselect: true
		});
	//jQueryプラグイン定義終了	
	});		
</script>