<% content_for :javascript_includes do %>
	<%= javascript_include_tag "node_show_table" %>
	<script type="text/javascript">
		buildGridData(<%= raw @node.to_json %>, <%= raw @parent.to_json %>, <%= raw @versions.to_json %>, <%= raw @aspects.to_json %>);	
	</script>
<% end %>

<!--HEADER-->
<div class="row-fluid span11 nemaki_popup_header">
		<h4>
			<%= image_tag(icon_path(@node)) + @node.name %>
		</h4>
</div>

<!--Contents body-->
<div class="nemaki_contents_body">
	<div class="row-fluid">
		<div class="btn-toolbar">
			<% if @is_allowed_up %>
			<div class="btn-group">
				<% @parent_url = (@parent.id == '/') ? explore_nodes_path : explore_node_path(@parent.id) %>
	    		<%= link_to raw("<i class='icon-folder-close'></i> " + t('view.node.show.parent_folder')),
				@parent_url, :class => 'btn btn-primary',  :target => '_parent'%>
		    </div>
		    <% end %>
		    
			<div class="btn-group">
				<% if @node.is_document? %>
				<%= link_to raw("<i class='icon-download-alt'></i> " + t('view.node.show.download')),
				download_node_path(@parent.id), :class => 'btn btn-primary',  :target => '_parent'%>
				<% end %>
			</div>
	    </div>
	</div>
	
	<div class="row-fluid">
		<div class="span6">
			<div class="nemaki_table_title">
				<h4><u><%=t('view.node.show.basic_properties')%></u></h4>
			</div>
		
			<!--jqGrid: Basic Info-->
			<div class="nemaki_jqgrid_container">
				<table id="basicInfo"></table>
			</div>
			
			<!--jqGrid: Version Info-->
			<div class="nemaki_jqgrid_container">
				<table id="versionInfo"></table>
				<div id="versionInfo_pager"></div>
			</div>
		</div>
		
		<div class="span5">
			<div class="nemaki_table_title">
				<h4><u><%=t('view.node.show.custom_properties')%></u></h4>
			</div>
			
			<!--jqGrid: Aspect Info-->
			<div class="nemaki_jqgrid_container">
				<% @aspects.each do |aspect| %>
					<table id="nemaki_table_aspect_<%=aspect.id%>"></table>

					<div id="nemaki_table_aspect_:2"></div>


				<% end %>
			</div>
		</div>
	</div>
</div>